**/.github/*
**/.gitignore
**/backup/*
**/backup_*
**/content/tech/*
**/content/test/*
**/system/themes/adcore/*
**/*.code-workspace
**/debug_*.php
**/test_*.php
**/test-*.php
**/*_check.php
**/*.sh
/*.md
!public/downloads/README.md
!public/images/README.md

