**/.github/*
**/.gitignore
**/backup/*
**/backup_*
**/content/tech/*
**/content/test/*
**/*.code-workspace
**/debug_*.php
**/test_*.php
**/test-*.php
**/*_check.php
**/*.sh
/*.md
!public/downloads/README.md